body {
    background-color: black;
    text-align: center;
    color: white;
}

.dill {
    color: darkgreen;
}

.cardamom {
    color: green;
}

.lavender {
    color: purple;
}

.cayenne {
    color: red;
}

.lemon_grass {
    color: yellow;
}

.chile_pepper {
    color: red;
}

.marjoram {
    color: green;
}

.cinnamon {
    color: brown;
}

.mint_leaves {
    color: green;
}

.cloves {
    color: brown;
}

.oregano {
    color: green;
}
